header {
  /* background: #ff512f; */
  /* fallback for old browsers */
  background: var(--bggradient-two);
  /* border: 1px solid black */
  a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
  }
  .nav-item {
    padding: 0.9em;
    &:last-child {
      padding-right: 10em;
    }
    .nav-link {
      &.active {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #ef3b53 !important;
      }
    }
  }
  .navbar-brand {
    padding-left: 2rem;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
  }
  .row {
    .col-md-5 {
      padding: 0.2rem;
      img {
        margin-top: 10%;
        width: 80%;
        transform: rotate(-20deg);
        border-radius: 10px;
      }
    }
    .col-md-7 {
      padding: 5rem 0.2rem;
      font-family: "Rubik", sans-serif;
      /* border: 1px solid black */
    }
  }
  .container {
    .col-md-7 {
      h6 {
        padding: 0.2rem;
        letter-spacing: 4px;
      }
      h1 {
        font-size: 4rem;
        font-weight: bold;
        padding: 0.2rem;
      }
      p {
        padding: 0.2rem;
      }
    }
  }
}
