@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient-two: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header {
  /* background: #ff512f; */
  /* fallback for old browsers */
  background: var(--bggradient-two);
  /* border: 1px solid black */
}
header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

header .nav-item:last-child {
  padding-right: 10em;
}
header .nav-item {
  padding: 0.9em;
}
header .navbar-brand {
  padding-left: 8rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
.nav-item .nav-link.active {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ef3b53 !important;
}

header .row .col-md-7 {
  padding: 5rem 0.2rem;
  font-family: "Rubik", sans-serif;
  /* border: 1px solid black */
}
header .container .col-md-7 h6 {
  padding: 0.2rem;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 0.2rem;
}

header .container .col-md-7 p {
  padding: 0.2rem;
}

header .row .col-md-5 {
  padding: 0.2rem;
}

header .row .col-md-5 img {
  width: 100%;
}

.sandbox-img {
}

.btn-custom {
  font-weight: bold;
  border-radius: 2rem;
}

.title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1rem 0.5rem;
  /* font-size: 4rem; */
}

.subtext {
  background: rgba(208, 241, 241, 0.199);
  padding: 2em 1rem 1rem;
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}
